{% extends 'booking/base.html' %}

{% block content %}

<div class="row container py-3">

    <div class="col-md-6">
        <div class="row p-4">
            <div class="col-md-12">
                <p><strong>How to pay your ticket</strong></p>
                <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae doloremque nulla sequi voluptatum rem vero repudiandae quibusdam dolorem maxime neque nostrum dignissimos non porro, natus, reprehenderit numquam asperiores perspiciatis fuga cum illo. Perferendis incidunt ipsum dicta natus similique odio amet.</small>
            </div>
            <hr>
            <div class="col-md-12">
                <p><strong>How to check your booking info</strong></p>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam minima earum ipsa et illum, porro facere fuga alias consectetur nostrum.</small>
            </div>
        </div>
    </div>

</div>


{% endblock %}